<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bulk-crap-uninstaller" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="DotNet3.5" />
  <package id="DotNet4.5.2" />
  <package id="FiraCode" />
  <package id="git" />
  <package id="git.install" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="nodejs-lts" />
  <package id="poshgit" />
  <package id="python" />
  <package id="python3" />
  <package id="sqlite-studio.portable" />
  <package id="sqlitestudio" />
  <package id="tableau-public" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="vscode" />
  <package id="vscode.install" />
</packages>